# Python virtual environments
.venv/
venv/

# VS Code settings
.vscode/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Environment variables / secrets
.env

# Logs
*.log

# Pytest, coverage, and testing tools
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.cache/

# MyPy / Type checking
.mypy_cache/
.pyright/

# Packaging artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store  # macOS
Thumbs.db  # Windows
.DS_Store
